section.team
    .container
        .section-title
            .title
                .btn-slider
                    .icon.arrow_triangle-left
                .lines.left
                span.romb-left
                h2.title-text.accent-color team &#160;
                    span.title-dark members
                span.romb-right
                .lines.right
                .btn-slider
                    .icon.arrow_triangle-right
            .text We’re some creative people with powerful knowledge & awesome skills behind the scene bringing you the bests
        ul.team__list
            each member, index in teamList
                if index === 1
                    li.team__item.active
                        .photo
                            .social__list
                                each item, index in member.social
                                    .item
                                        a(href=item.link class=item.icon).icon
                        .information
                            .name=member.name
                            .position=member.position
                            .contacts
                                a.email=member.email
                                .telephone=member.phone

                else
                    .team__item
                        .photo
                            .social__list
                                each item, index in member.social
                                    .item
                                        a(href=item.link class=item.icon).icon
                        .information
                            .name=member.name
                            .position=member.position
                            .contacts
                                a.email=member.email
                                .telephone=member.phone

